/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

params {
    // Base directory for nf-core/modules test data
    modules_testdata_base_path   = 's3://ngi-igenomes/testdata/nf-core/modules/'
    // Base directory for nf-core/methylseq test data
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/pacvar/'

    // Input data
    input                       = params.pipelines_testdata_base_path + 'pacbio_data/samplesheet_pb_puretarget.csv'
    //added fasta
    fasta                       = params.pipelines_testdata_base_path + 'pacbio_data/C9ORF72-12.fa'
    fasta_fai                   = params.pipelines_testdata_base_path + 'pacbio_data/C9ORF72-12.fa.fai'
    // Additional flags - interval can be null
    barcodes                    = params.pipelines_testdata_base_path + 'pacbio_data/barcodes_D01.fasta'
    intervals                   = params.pipelines_testdata_base_path + 'pacbio_data/c9orf72-short.bed'
    workflow                    = 'repeat'
    repeat_id                   = 'C9ORF72'
    skip_demultiplexing         = true
}

// Impose sensible resource limits for testing
process {
    resourceLimits = [
        cpus: 2,
        memory: '3.GB',
        time: '2.h'
    ]
}

// Impose same minimum Nextflow version as the pipeline for testing
manifest {
    nextflowVersion = '!>=24.04.2'
}

// Disable all Nextflow reporting options
timeline { enabled = false }
report   { enabled = false }
trace    { enabled = false }
dag      { enabled = false }
