/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/pacvario -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '24.GB'
    max_time   = '6.h'

    input  = params.pipelines_testdata_base_path + 'refs/heads/pacvar/pacbio_data/samplesheet_longread_puretarget.csv'
    genome = 'GATK.GRCh38'

    // Additional flags - interval can be null
    barcodes = params.pipelines_testdata_base_path + 'refs/heads/pacvar/pacbio_data/barcodes_D01.fasta'
    tools = 'gatk4_haplotypecaller'

    //small interval bed file (todo)
    intervals = "chr9:27573528-27573546"
    workflow = 'wgs'
}
