/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/pacvar -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '6.h'
    ]
}

params {
    config_profile_name         = 'Test profile'
    config_profile_description  = 'Minimal test dataset to check pipeline function for pure-trgt workflow'
    input                       = 'https://downloads.pacbcloud.com/public/dataset/PureTargetRE/Revio48/0-run_directory/1_A01/hifi_reads/m84036_240201_205955_s2.hifi_reads.bc2001.bam'
    genome                      = 'GATK.GRCh38'
    dbsnp                       = ''
    dbsnp_tbi                   = ''
    snv_caller                  = 'deepvariant'
    intervals                   = params.pipelines_testdata_base_path + 'pacbio_data/c9orf72-short.bed'
    workflow                    = 'wgs'
    skip_phase                  = true
}
