/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/pacvar -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name         = 'Test profile'
    config_profile_description  = 'Minimal test dataset to check pipeline function'



    //added fasta
    fasta                       = params.pipelines_testdata_base_path + 'pacbio_data/C9ORF72-12.fa'
    fasta_fai                   = params.pipelines_testdata_base_path + 'pacbio_data/C9ORF72-12.fa.fai'

    // Additional flags - interval can be null
    intervals                   = params.pipelines_testdata_base_path + 'pacbio_data/c9orf72-short.bed'

    workflow                    = 'repeat'
    repeat_id                   = 'C9ORF72'

    input                       = params.pipelines_testdata_base_path + 'pacbio_data/samplesheet_pb_puretarget.csv'
    skip_demultiplexing         = true
}
